<style></style>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">{{ title }}</a>
      <!-- no menubar -->
    </div>
  </div>
</nav>
<main role="main" class="container">
  <div class="row">
    <div class="col-md-4 col-sm-2 col-1"></div>
    <div class="col-md-4 col-sm-8 col-10 text-center">
      <app-premium-calc></app-premium-calc>
    </div>
    <div class="col-md-4 col-sm-2 col-1"></div>
  </div>
  <div class="row">
    <div class="text-center">
        <ng-template #template>
          <div class="modal-header">
              <h4 class="modal-title pull-left">Validation Errors</h4>
              <button type="button" class="close pull-right" 
                      aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
          </div>
          <div class="modal-body">
              Validation
          </div>
        </ng-template>
    </div>
  </div>
</main>


<router-outlet></router-outlet>
