<div class="row" *ngIf="errorMessages && errorMessages.length > 0">
    <div class="col-lg-12 alert alert-danger" role="alert">
        <h4>Errors</h4>
        <div class="row error-msg" *ngFor="let msg of errorMessages">Error Message: {{msg}}</div>
    </div>
</div>
<div class="row" *ngIf="(!errorMessages || errorMessages.length == 0) && calculatedPremium > 0">
     <div class="col-lg-12 alert alert-success" role="alert">
        <h4>Premium Quote: ${{calculatedPremium}}</h4>
    </div>
</div>
<div class="row">
    <form class="form-calculate-premium" #premiumCalcForm="ngForm" (ngSubmit)="onSubmit(premiumCalcForm)"> 
        <img class="mb-4" src="https://www.tal.com.au/-/media/490b2a5a335f432f93776132c98c27e4.ashx" alt="TAL Logo" width="65" height="24">
        <h1 class="h3 mb-3 font-weight-normal">To calculate a premium quote, please enter your details below.</h1>
        <label for="inputName" class="sr-only" >Name<span class="mandatory">*</span></label>
        <input type="text" id="inputName" class="form-control" [(ngModel)]="customerInstance.name" name="fullName" 
            placeholder="FirstName LastName" required="" autofocus=""> 
        <!--  -->
        <label for="inputAge" class="sr-only">Age<span class="mandatory">*</span></label>
        <input type="number" id="inputNumber" class="form-control" [(ngModel)]="customerInstance.age" name="age" 
            placeholder="1" required="" min="1" max="110">
        <label for="inputDoB" class="sr-only">Date Of Birth<span class="mandatory">*</span></label>
<!--
        <input type="date" id="inputDoB" class="form-control" placeholder="" required="">
        <input type="text" id="inputOccupation" class="form-control" placeholder="" required="">
-->
<!-- [bsValue]="dobValue" -->
        <input type="datetime" placeholder="Datepicker" class="form-control" bsDatepicker 
                [(ngModel)]="customerInstance.dateOfBirth" name="age" 
                [minDate]="minDate" [maxDate]="maxDate" [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD-MM-YYYY' }">

        <label for="inputDeathSumInsured" class="sr-only">Death Sum Insured<span class="mandatory">*</span></label>
        <input type="number" id="inputDeathSumInsured" class="form-control" [(ngModel)]="customerInstance.deathBenefit" name="deathBenefit"
            placeholder="1" required="" min="1">

        <label for="inputOccupation" class="sr-only">Occupation<span class="mandatory">*</span></label>
        <div>
        <select class="form-control" (input)="onSubmit(premiumCalcForm)" [(ngModel)]="customerInstance.occupation" name="occupation">
          <option [ngValue]="null" disabled selected>Select Occupation</option>
          <option *ngFor="let job of occupations" [ngValue]="job">{{ job | titlecase }}</option>
        </select>
        </div>
<!--
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="email.address@here.com">
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="debug">
          </label>
        </div>
-->
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
      </form>
</div>